In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import random

In [ ]:
X = [1,8,9,69,55,37,22,42,46,29]
k = 2
c1 = random.choice(X)
c2 = random.choice([item for item in X if item!= c1])
print(c1, c2)
k1 = []
k2 = []
kmean1 = 0
kmean2 = 0
while(c1 != kmean1 or c2 != kmean2):
  for i in X:
    if abs(i - c1) < abs(i - c2):
      k1.append(i)
    else:
      k2.append(i)

  kmean1 = sum(k1)/len(k1)
  kmean2 = sum(k2)/len(k2)
  c1 = (kmean1)
  c2 = (kmean2)

22 29

In [ ]:
print(kmean1 ,kmean2)
print(k1)
print(k2)

10.0 46.333333333333336
[1, 8, 9, 22]
[69, 55, 37, 42, 46, 29]